@font-face {
  font-family: "Legendary Runes Free Trial";
  src: url("/font/Legendary Runes Free Trial.otf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Legendary Runes Free Trial", sans-serif;
  letter-spacing: 2px;
}
body {
  background-color: rgb(162, 68, 224);
  background-size:cover;
  background-repeat: repeat;
}
/*.heading{
  background-image: url("./BOOK/dark-glisten.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  
}*/
.book{
  opacity: 90%;
}
.glow {
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
  
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0  1px rgb(162, 68, 224), 0 0  1px rgb(162, 68, 224), 0 0  1px rgb(162, 68, 224),
      0 0  1px rgb(162, 68, 224), 0 0  1px rgb(162, 68, 224),
      0 0  1px rgb(162, 68, 224), 0 0  1px rgb(162, 68, 224);
  }

  to {
    text-shadow: 0 0 1px rgb(255, 255, 255)55, 255, 255, 0 0 1px rgb(255, 255, 255),
      0 0 1px rgb(255, 255, 255), 0 0 1px rgb(247, 247, 247),
      0 0 1px rgb(255, 255, 255), 0 0 1px rgb(247, 246, 245),
      0 0 1px rgb(255, 254, 252);
  }
}
.col-md-4{
  size: 50px;
}

.width-card{
  
}

.boundary{
  margin: 50px;
  padding: 30px;
  width: fit-content;
}