@font-face {
    font-family: "Legendary Runes Free Trial";
  
    src: url("./font/Cinzel-VariableFont_wght.ttf");
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
    letter-spacing: 2px;
  }
body {
    background-image: url('./images/potter.jpg');
    background-size: cover;
  }
  
  .characters-container {
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
  }
  
  .character-space{
    padding: 10px;
  }
  .character-details {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    min-height: 300px;
  }
  
  .character-details h2 {
    margin-bottom: 20px;
  }
  
  .character-details p {
    margin-bottom: 10px;
  }
  