@font-face {
    font-family: "Legendary Runes Free Trial";
    src: url("/font/Legendary Runes Free Trial.otf");
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Legendary Runes Free Trial", sans-serif;
    letter-spacing: 2px;
  }
  body {
    background-image: url("./images/potter.jpg");
    background-size:cover;
    background-repeat: repeat;
  }
.box-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    width:70%;
    padding: 1rem;
}
#character {
    border: 5px solid black;
    margin: 0.375rem;
}