@font-face {
  font-family: "Legendary Runes Free Trial";
  src: url("/font/Legendary Runes Free Trial.otf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Legendary Runes Free Trial", sans-serif;
  letter-spacing: 2px;
}
body {
  background-image: url("./images/potter.jpg");
  background-size:cover;
  background-repeat: repeat;
}

.nav-top {
  
  display: block;
  flex-direction: row;
  margin: 5px auto;
  padding: 10px;
  opacity: 80%;
}
.navbar {
  background-image: linear-gradient(
    rgba(0, 0, 0, .90),
    rgba(0, 0, 0, .90));
    background-size: cover;
  border-radius: 10px;
}

.navbar-text {
  font-size: 20px;
  justify-content: space-between;
  align-items: right;
  color: rgb(255, 174, 0);
}



.home-box-head {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 0 0 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-box-head .welcome {
  font-size: 4em;
  text-align: center;
  color: rgb(255, 174, 0);
  transition: 0.3s;
  cursor: default;
  padding-top: 150px ;
}
.welcome:hover {
  letter-spacing: 0.2em;
}
.glow {
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
  
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px black, 0 0 20px black, 0 0 30px black,
      0 0 40px black, 0 0 50px black,
      0 0 60px black, 0 0 70px black;
  }

  to {
    text-shadow: 0 0 20px black, 0 0 30px rgb(238, 200, 120),
      0 0 40px rgb(238, 200, 120), 0 0 50px rgb(238, 200, 120),
      0 0 60px rgb(238, 200, 120), 0 0 70px rgb(238, 200, 120),
      0 0 80px rgb(238, 200, 120);
  }
}

.options-box{
  padding: 100px;
  padding-bottom: 200px;
}

.nav-link {
  background-color: none;
  filter: drop-shadow(9px 9px 9px rgb(212, 148, 19));
  transition: transform .5s;
}

.nav-link:hover{
  transform: scale(1.5);
}


/* hogwarts-details/////////////////////////////////// */

.hogwarts-details {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-hogwarts div{
  color: #f0a315;
  filter: drop-shadow(9px 9px 9px rgb(17, 12, 2));
}
.about-hogwarts h1{
  text-align: center;
  color: #e66f01;
  filter: drop-shadow(9px 9px 9px rgb(17, 12, 2));
}

.more-from-hogwarts{
  position: relative;
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 80px;
  filter: drop-shadow(9px 9px 9px rgb(238, 200, 120));
}
.more-from-hogwarts .more{
  padding: 80px;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  min-width: 300px;
  max-width: 350px;
}
.more-from-hogwarts .more h1{
  color: #e98007;
}
.more-from-hogwarts img{
  height: 50px;
  width: 50px;

}
.more-from-hogwarts p{
  color: #e98007;
  text-align: center;
}


